@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    &_orange {
        background: $orangeColor;
        color: $whiteColor;
        @media (any-hover: hover) {
           &:hover {
            background: $darkOrangeColor;
           }
        }
        &:disabled {
            background: #eec9b2;
        }
    }

    &_white {
        background: $whiteColor;
        color: $orangeColor;
        &:disabled {
            background: rgba(365, 365, 365, 0.7);
        }
    }

    &_red {
        background: $redColor;
        color: $whiteColor;
        @media (any-hover: hover) {
            &:hover {
                background: $darkRedColor;
            }
         }

         &:disabled {
            background: #ea9090;
        }
    }

    &_big {
        height: 78px;
        padding: 24px;
        font-size: 20px;
        @include adaptive-value('height', 70, 55, 1);
    }

    &_medium {
        height: 48px;
        padding: 12px 40px;
        font-size: 16px;
    }

    &_fullWidth {
        width: 100%;
    }

    &_outline {
        border: 1px solid $orangeColor;
    }

    &:disabled {
        cursor: auto;
    }
}