@import 'styles/variables.scss';

.search-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $whiteColor;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease 0s;
    &.active {
        pointer-events: all;
        opacity: 1;
    }

    &__row {
        display: flex;
        padding: 0 15px;
        @media (max-width: ($md4+px)) {
            padding: 0 10px;
        }
    }

    &__column {
        &:first-child {
            flex: 1 1 auto;
            margin: 0 15px 0 0;
        }
    }

    &__search-field {
        border-bottom: 1px solid $lightGrayColor;
        padding: 0;
    }

    &__cancel-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @media (max-width: ($md4+px)) {
            font-size: 14px;
        }
    }
}