$fontfamily: 'Gilroy';

$minwidth: 320px;
$mw: 1240;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$lightYellowColor: #FCF8F3; 
$grayColor: #898989;
$darkGrayColor: #616161;
$whiteColor: #fff;