@import 'styles/variables.scss';

.search {
    padding: 0 3px 0 0;
    background: $whiteColor;
    display: flex;
    &__icon-button {
        padding: 0 3px 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease 0s;
        @media (min-width: ($md2+px)) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__input-wrapper {
        flex: 1 1 auto;
    }
}