@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
    padding: 40px 0;
    position: relative;
    z-index: 1000;
    width: 100%;
    @media (max-width: ($md2+px)) {
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    &:before {
        content: '';
        background-color: #F9F1E7;
        width: 65%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after {
        content: '';
        background-color: $lightYellowColor;
        width: 35%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
}

.header-content-left {
    display: flex;
    align-items: center;
    margin: 0 -21px;
    position: relative;
    z-index: 4;
    @media (max-width: ($md1+px)) {
        margin: 0 -15px;
    }

    &__column {
        padding: 0 21px;
        &:last-child {
            width: 472px;
            @media (max-width: ($md1+px)) {
                width: 350px;
            }

            @media (max-width: ($md2+px)) {
                width: auto;
            }

        }

        @media (max-width: ($md1+px)) {
            padding: 0 15px;
        }
    }

    &__logo {
        color: #000;
        font-weight: 700;
        @include adaptive-value('font-size', 24, 22, 1);
    }
}

.header-content-right {
    margin: 0 0 0 15px;
    &__actions {
       
    }
}

.actions-header {
    display: flex;
    align-items: center;
    @include adaptive-value('margin-right', -16, -8, 1);
    @include adaptive-value('margin-left', -16, -8, 1);
    &__item {
        position: relative;
        z-index: 4;
        @include adaptive-value('padding-left', 16, 8, 1);
        @include adaptive-value('padding-right', 16, 8, 1);

        &_search {
            z-index: 5;
        }

        &_menu {
            z-index: 3;
        }
    }

    &__link {
        color: $mainColor;
        transition: 0.3s ease 0s;
        @media (min-width: ($md2+px)) {
            &:hover {
                color: $orangeColor;
            }
        }
    }

    &__icon {
        @media (max-width: ($md2+px)) {
            font-size: 27px !important;

            &_search {
                font-size: 25px !important;
            }
        }

        @media (max-width: 360px) {
            font-size: 24px !important;
            &_search {
                font-size: 22px !important;
            }
        }

    }
}
