@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
    padding: 40px 0;
    background: #f9f1e7;
}

.header__container {
    display: flex;
}

.header-content-left {
    display: flex;
}

.header-content-left__column {
}

.header-content-left__logo {
    color: #000;
    font-weight: 700;
    @include adaptive-value('font-size', 24, 18, 1);
}
