@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.header {
    padding: 40px 0;
    background: #f9f1e7;
}

.header__container {
    display: flex;
}

.header-content-left {
    display: flex;
    align-items: center;
    @include adaptive-value('margin-right', -21, -7.5, 1);
    @include adaptive-value('margin-left', -21, -7.5, 1);
}

.header-content-left__column {
    @include adaptive-value('padding-right', 21, 7.5, 1);
    @include adaptive-value('padding-left', 21, 7.5, 1);
}

.header-content-left__logo {
    color: #000;
    font-weight: 700;
    @include adaptive-value('font-size', 24, 18, 1);
}