.container {
    padding: 0 20px;
    display: flex;
}

.position-center {
    justify-content: center;
}

.position-end {
    justify-content: flex-end;
}

.container>button:not(:first-child) {
    margin-left: 15px;
}